<h2
  mat-dialog-title
  class="text-xl font-bold text-t-text mb-3 sm:mb-4 text-center sm:text-left"
>
  Nuevo Cliente
</h2>

<mat-dialog-content>
  <form [formGroup]="form" class="space-y-3 sm:space-y-4">
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name" />
      <mat-error>{{ getFieldError(form, 'name') }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Apellido</mat-label>
      <input matInput formControlName="lastname" />
      <mat-error>{{ getFieldError(form, 'lastname') }}</mat-error>
    </mat-form-field>

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-3 sm:gap-4">
      <mat-form-field appearance="fill" class="w-full mb-1 sm:mb-0">
        <mat-label>Edad</mat-label>
        <input matInput type="number" formControlName="age" />
        <mat-error>{{ getFieldError(form, 'age') }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Nacimiento</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="birthDate"
          [max]="maxDate"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-hint>Formato: DD/MM/YYYY</mat-hint>
        <mat-error>{{ getFieldError(form, 'birthDate') }}</mat-error>
      </mat-form-field>
    </div>

    <div
      *ngIf="form.errors && (form.touched || form.dirty)"
      class="text-t-danger text-sm bg-t-danger-light p-3 rounded-lg"
    >
      <p *ngFor="let msg of getFormGroupErrors(form)" class="m-0">
        {{ msg }}
      </p>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <div class="flex flex-row gap-2 px-4">
    <button
      mat-button
      (click)="onCancel()"
      [disabled]="loadingService.isLoading"
    >
      Cancelar
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="onSubmit()"
      [disabled]="form.invalid || loadingService.isLoading"
    >
      <mat-spinner
        *ngIf="loadingService.isLoading"
        diameter="18"
        class="inline-block align-middle mr-2"
      ></mat-spinner>
      {{ loadingService.isLoading ? "Guardando..." : "Guardar" }}
    </button>
  </div>
</mat-dialog-actions>